<footer class="footer-wrapper">
  <div class="container max-w-5xl mx-auto footer">
    <div class="pr-6 footer__items">
      <%= link_to Rails.configuration.application_name, root_path, class: "capitalize text-gray-500 font-bold" %>
      <p class="mt-2 text-xs text-gray-600">© <%= Time.zone.now.strftime("%Y") %></p>

      <%= select_tag nil,
        options_for_select(
          I18n::available_locales.map { |locale| [I18n.t("locales.#{locale}"), locale]}, I18n.locale
        ),
        data: {
          controller: "sjabloon--redirect",
          action: "sjabloon--redirect#selectedOption",
          sjabloon__redirect_current_locale: I18n.locale,
          sjabloon__redirect_default_locale: I18n.default_locale,
          sjabloon__redirect_url: url_for(locale: ":locale")
        },
        class: "input" %>
    </div>

    <ul class="footer__items">
      <%= tag.h6 t("footer.company"), class: "footer__item footer__heading" %>

      <li class="footer__item">
        <%= link_to t("footer.about"), about_path, class: "footer__link" %>
      </li>
      <li class="footer__item">
        <%= link_to t("footer.pricing"), '#', class: "footer__link" %>
      </li>
      <li class="footer__item">
        <%= link_to t("footer.team"), "#", class: "footer__link" %>
      </li>
      <li class="footer__item">
        <%= link_to t("footer.vision"), "#", class: "footer__link" %>
      </li>
    </ul>

    <ul class="footer__items">
      <%= tag.h6 t("footer.features"), class: "footer__item footer__heading" %>

      <li class="footer__item">
        <%= link_to t("footer.feature_1"), "#", class: "footer__link" %>
      </li>
      <li class="footer__item">
        <%= link_to t("footer.feature_2"), "#", class: "footer__link" %>
      </li>
      <li class="footer__item">
        <%= link_to t("footer.feature_3"), "#", class: "footer__link" %>
      </li>
    </ul>

    <ul class="footer__items">
      <%= tag.h6 t("footer.support"), class: "footer__item footer__heading" %>

      <li class="footer__item">
        <%= link_to t("footer.contact"), contact_path, class: "footer__link" %>
      </li>
      <li class="footer__item">
        <%= link_to t("footer.helpdesk"), "#", class: "footer__link" %>
      </li>
      <li class="footer__item">
        <%= link_to t("footer.terms"), policy_path("terms"), class: "footer__link" %> <%= tag.span t("helpers.and"), class: "lowercase" %>
        <%= link_to t("footer.privacy"), policy_path("privacy"), class: "footer__link" %>
      </li>
    </ul>
  </div>
</footer>


