<nav class="nav" data-controller="sjabloon--navigation" data-target="sjabloon--navigation.component" data-action="scroll@window->sjabloon--navigation#onScroll">
  <div class="nav__content">
    <%= link_to Rails.configuration.application_name, root_path, class: "nav__logo" %>

    <div class="nav__items" data-target="sjabloon--navigation.items">
      <div class="sm:flex sm:ml-8">
        <%= link_to t("navigation.features"), "#", class: "nav__item nav__link" %>
        <%= link_to t("navigation.pricing"), "#", class: "nav__item nav__link" %>
        <%= link_to t("navigation.customers"), "#", class: "nav__item nav__link" %>
      </div>

      <div class="items-center sm:flex">
        <% if user_signed_in? %>
      <%= link_to t("navigation.edit_registration"), edit_user_registration_path, class: "nav__item nav__link" %>
      <%= link_to t("navigation.logout"), destroy_user_session_path, method: :delete, class: "nav__item nav__link" %>
    <% else %>
      <%= link_to "Log in", new_user_session_path, class: "nav__item nav__link" %>
      <%= link_to t("buttons.start_trial"), signup_path, class: "nav__item btn btn--primary p-2" %>
    <% end %>
      </div>
    </div>

    <span role="link" class="navigation__toggle" data-target="sjabloon--navigation.toggle" data-action="click->sjabloon--navigation#toggle"><%= t("navigation.menu") %></span>
  </div>
</nav>

