<div class="hero">
  <header>
    <h1 class="hero__heading">Flying start for makers </h1>

    <h2 class="hero__subheading">Rails SaaS starter kit to focus on your core product </h2>
  </header>

  <%= link_to t('buttons.start_trial'), signup_path, class: "btn btn--primary mt-8" %>
</div>

<div class="mt-16">
  <svg class="relative w-full max-w-5xl mx-auto bg-white border border-gray-200 shadow-xl rounded-lg" width="100%" height="700" fill="none" xmlns="http://www.w3.org/2000/svg"><g clip-path="url(#clip0)"><g filter="url(#filter0_d)"><path fill="#fff" d="M13.507 6.754h647.986v20.261H13.507z"/></g><mask id="a" maskUnits="userSpaceOnUse" x="15" y="10" width="13" height="13"><path d="M21.714 10.787a5.862 5.862 0 1 0 0 11.723 5.862 5.862 0 0 0 0-11.723z" fill="#979797"/></mask><g mask="url(#a)"><path fill="#F56565" d="M13.507 8.442h16.884v16.884H13.507z"/></g><mask id="b" maskUnits="userSpaceOnUse" x="36" y="10" width="13" height="13"><path d="M42.82 10.787a5.861 5.861 0 0 0-4.145 10.008 5.862 5.862 0 1 0 4.145-10.008z" fill="#979797"/></mask><g mask="url(#b)"><path fill="#F6AD55" d="M34.612 8.442h16.884v16.884H34.612z"/></g><mask id="c" maskUnits="userSpaceOnUse" x="58" y="10" width="12" height="13"><path d="M63.925 10.787a5.861 5.861 0 0 0-4.145 10.008 5.862 5.862 0 1 0 4.145-10.008z" fill="#979797"/></mask><g mask="url(#c)"><path fill="#68D391" d="M55.718 8.442h16.884v16.884H55.718z"/></g></g><rect x="13.507" y="33.769" width="97%" height="648" rx="3.377" fill="#e2e8f0"/></svg>
</div>

<div class="bg-gray-200 -mt-32 pt-40">
  <div class="flex flex-col sm:flex-row max-w-3xl mx-auto px-2">
    <div class="sm:w-1/3 mb-8">
      <h3 class="text-2xl text-gray-800">Get this</h3>

      <p class="mt-4 text-lg text-gray-600">Small batch hammock green juice tattooed, forage kinfolk tbh thundercats vaporware PBR&B pork belly.</p>
    </div>

    <div class="sm:w-1/3 mb-8 sm:ml-16">
      <h3 class="text-2xl text-gray-800">Go there</h3>

      <p class="mt-4 text-lg text-gray-600">Helvetica VHS ramps cornhole meditation kitsch knausgaard pork belly godard keytar tacos literally.</p>
    </div>

    <div class="sm:w-1/3 mb-8 sm:ml-16">
      <h3 class="text-2xl text-gray-800">Keep such</h3>

      <p class="mt-4 text-lg text-gray-600">Tofu shaman master cleanse aesthetic selfies locavore. Brooklyn jianbing enamel pin sriracha tote bag kickstarter.</p>
    </div>
  </div>
</div>

<div class="py-32">
  <div class="flex flex-col sm:flex-row items-center max-w-5xl mx-auto">
    <header class="sm:w-1/3">
      <h3 class="text-3xl">Grow with confidence</h3>

      <p class="mt-4 text-xl text-gray-700">You probably haven't heard of them poutine wolf squid pork belly. Venmo health goth tilde fashion axe vinyl pickled.</p>
    </header>

    <div class="relative sm:w-2/3 sm:ml-16 mt-4 shadow-lg">
      <img src="https://images.unsplash.com/photo-1494825514961-674db1ac2700?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80" alt="screenshot of this app" class="block object-cover rounded">

      <div class="absolute inset-0 w-full flex justify-center items-center">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" class="btn btn--primary p-1 pl-2 w-20 h-20 text-indigo-100 fill-current rounded-full"><path d="M4 4l12 6-12 6z"/></svg>
      </div>
    </div>
  </div>
</div>

<div class="py-32 px-2 bg-gray-300" data-controller="sjabloon--tabs" data-sjabloon--tabs-active-tab="opacity-100">
  <div data-target="sjabloon--tabs.panel" class="hidden flex-col sm:flex-row flex items-center max-w-5xl mx-auto bg-white shadow-lg rounded">
    <img src="https://images.unsplash.com/photo-1562071707-7249ab429b2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" alt="" class="object-cover sm:w-1/2 h-64 sm:rounded-l">

    <blockquote class="sm:w-1/2 sm:ml-16 p-8">
      <p class="text-3xl leading-tight font-light text-gray-700"><%= Rails.configuration.application_name %> is a truly a ground-breaking app!</p>

      <h5 class="mt-6 text-sm font-bold text-gray-600">
        Tamara Faclient,
        <tag class="block font-normal">CEO, YaCustomer</tag>
      </h5>
    </blockquote>
  </div>

  <div data-target="sjabloon--tabs.panel" class="hidden flex flex-col sm:flex-row items-center max-w-5xl mx-auto bg-white shadow-lg rounded">
    <img src="https://images.unsplash.com/photo-1506919258185-6078bba55d2a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" alt="" class="object-cover sm:w-1/2 h-64 sm:rounded-l">

    <blockquote class="sm:w-1/2 sm:ml-16 p-8">
      <p class="text-3xl leading-tight font-light text-gray-700">Wow! Things have suddenly become so much smoother.</p>

      <h5 class="mt-6 text-sm font-bold text-gray-600">
        Some Customer
        <tag class="block font-normal">Customer Support Manager</tag>
      </h5>
    </blockquote>
  </div>

  <div data-target="sjabloon--tabs.panel" class="hidden flex flex-col sm:flex-row items-center max-w-5xl mx-auto bg-white shadow-lg rounded">
    <img src="https://images.unsplash.com/photo-1457052271742-6b6b66887aeb?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60" alt="" class="object-cover sm:w-1/2 h-64 sm:rounded-l">

    <blockquote class="sm:w-1/2 sm:ml-16 p-8">
      <p class="text-3xl leading-tight font-light text-gray-700">I could not have built my empire without your product.</p>

      <h5 class="mt-6 text-sm font-bold text-gray-600">
        Another Client
        <tag class="block font-normal">CEO & Founder</tag>
      </h5>
    </blockquote>
  </div>

  <div data-target="sjabloon--tabs.panel" class="hidden flex flex-col sm:flex-row items-center max-w-5xl mx-auto bg-white shadow-lg rounded">
    <img src="https://images.unsplash.com/photo-1531497865144-0464ef8fb9a9?ixlib=rb-1.2.1&auto=format&fit=crop&w=900&q=60" alt="" class="object-cover sm:w-1/2 h-64 sm:rounded-l">

    <blockquote class="sm:w-1/2 sm:ml-16 p-8">
      <p class="text-3xl leading-tight font-light text-gray-700">My team at So and So get giggly when we talk about <%= Rails.configuration.application_name %>. It. Is. So. Good.</p>

      <h5 class="mt-6 text-sm font-bold text-gray-600">
        And Another One
        <tag class="block font-normal">Team Lead Of So and So</tag>
      </h5>
    </blockquote>
  </div>

  <div class="flex flex-wrap max-w-5xl mx-auto mt-12">
    <button data-target="sjabloon--tabs.tab" data-action="click->sjabloon--tabs#change" class="my-2 p-4 bg-white text-sm font-semibold opacity-50 shadow-lg rounded hover:opacity-75">
      Tamara Faclient
    </button>

    <button data-target="sjabloon--tabs.tab" data-action="click->sjabloon--tabs#change" class="my-2 ml-6 p-4 bg-white text-sm font-semibold opacity-50 shadow-lg rounded hover:opacity-75">
      Some Customer
    </button>

    <button data-target="sjabloon--tabs.tab" data-action="click->sjabloon--tabs#change" class="my-2 ml-6 p-4 bg-white text-sm font-semibold opacity-50 shadow-lg rounded hover:opacity-75">
      Another Client
    </button>

    <button data-target="sjabloon--tabs.tab" data-action="click->sjabloon--tabs#change" class="my-2 ml-6 p-4 bg-white text-sm font-semibold opacity-50 shadow-lg rounded hover:opacity-75">
      And Another One
    </button>
  </div>
</div>

<div class="py-32 px-2">
  <div class="max-w-5xl mx-auto text-center">
    <h3 class="text-2xl sm:text-4xl leading-tight">Getting you further than previously possible</h3>
    <p class="mt-2 text-lg sm:text-2xl leading-tight text-gray-600">See why 1,234 people are already using <%= Rails.configuration.application_name %>.</p>

    <%= link_to 'Try for Free', '#', class: 'btn btn--primary mt-12' %>
  </div>
</div>

